<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>User List</title>
    <style>
        body {
            font-family: Arial, sans-serif;
            background-color: #f5f5f5;
            margin: 20px;
        }
        h1 {
            color: #333;
        }
        ul {
            list-style-type: none;
            padding: 0;
        }
        li {
            background-color: #fff;
            padding: 10px;
            margin: 10px 0;
            border-radius: 5px;
            box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
        }
    </style>
</head>
<body>
    <h1>User List</h1>
    <ul>
        {% for user in users %}
            <li>
                <strong>{{ user.username }}</strong>
                <br>
                Email: {{ user.email }}
                <br>
                User ID: {{ user.id }}
                <br>
                Password: {{user.password}}
            </li>
        {% endfor %}
    </ul>
</body>
</html>
